body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 238, 218);
}

.container {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #26a7b0;
    padding: 20px;
    border-radius: 5px;
    background-color: #26a7b0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #0a6066;
    color: white;
    
}

button {
    background-color: #1d7d84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #084b50;
}
