body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 222, 240);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #050101;
}

th {
    text-align: left;
}
